/* Formas */

.boton{
	background-color: #FFb400;
	border-bottom: 6px solid #e49100;
	border-radius: 5px;
	color: #ffffff;
	padding: 20px 60px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
