/* Layout */

header, footer {
	background: #282828;
	box-sizing: border-box;
	color: #c3c1c1;
	padding: 20px 0;
	position: absolute;
	width: 100%;
}

.layout_a{
	color: #c3c1c1;
}

header img {
	width: 250px;
}

